#content{

}

.categories{
	width: 70vw;
	height: 100%;
	border: 1px solid;
	overflow: auto;
}

.categories a{
	float: left;
	text-decoration: none;
	width: 23vw;
	height: 14.7vh;
	border: 1px solid;
}

.row1{
	border: 1px solid red;
	overflow: auto;
}

.row1 .category1{
	float: left;
	width: 33.1%;
	height: 15vh;
	text-align:center;
	border: 1px solid;
}

.row1 #history{
	float: right;
	width: 33.1%;
	height: 15vh;
	text-align:center;
	border: 1px solid green;
	
}

.row2{
	border: 1px solid;
	overflow: auto;
}
.row2 .category2{
	float: left;
	width: 33.1%;
	height: 15vh;
	text-align:center;
	border: 1px solid;
}

.row2 #science{
	float: right;
	width: 33.1%;
	height: 15vh;
	text-align:center;
	border: 1px solid green;
	
}

.row2{
	border: 1px solid;
	overflow: auto;
}
